#dock .indicator {
    cursor: pointer;
    position: relative;
}

#dock .indicator::before, #dock .indicator::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: 5px solid transparent;
    right: -12px;
    top: 50%;
}

#dock .indicator::before {
    border-bottom-color: #aaa;
    margin-top: -10px;
}

#dock .indicator::after {
    border-top-color: #aaa;
    margin-top: 2px;
}

#dock .asc::before {
    border-bottom-color: #444;
}

#dock .dsc::after {
    border-top-color: #444;
}

#dock tr {
    cursor: pointer;
}