<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link rel="stylesheet" href="../bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="../vue.min.js"></script>
</head>

<body>
    <header class="hero is-primary is-bold">
        <div class="hero-body">
            <h1 class="title container" id="title">{{ WORDS['title'][sharedState.lang] }}</h1>
        </div>
    </header>

    <section class="container" id="language">
        <div class="buttons has-addons">
            <button class="button is-small" v-for="lang in LANGS" :lang="lang.id"
                :class="{ 'is-warning is-info': lang.id === currentLang }"
                @click="setLanguage(lang.id)">
                {{ lang.name }}
            </button>
        </div>
    </section>

    <section class="section container">
        <div class="columns is-desktop">
            <div class="column is-narrow" style="width: 500px;">
                <div class="box content field" id="panel">
                    <h2 class="subtitle">{{ WORDS['preferences'][sharedState.lang] }}</h2>
                    <table class="table is-hoverable">
                        <thead>
                            <tr>
                                <th class="has-text-centered">
                                    {{ WORDS['class'][sharedState.lang] }}
                                </th>
                                <th class="has-text-centered" v-for="bui in BUI">
                                    {{ WORDS[bui][sharedState.lang] }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(kyu, kindex) in KYU">
                                <th class="has-text-centered">
                                    <a @click="checkAny([...Array(4).keys()].map(i => i + kindex * 4))">
                                        {{ WORDS[kyu][sharedState.lang] }}
                                    </a>
                                </th>
                                <td v-for="(bui, bindex) in BUI" class="has-text-centered">
                                    <input type="checkbox" v-model="checkedButtons"
                                        :value="kindex * 4 + bindex" :id="'p' + (kindex * 4 + bindex)">
                                    <label :for="'p' + (kindex * 4 + bindex)" class="checkbox"></label>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="has-text-centered">
                                    {{ WORDS['class'][sharedState.lang] }}
                                </th>
                                <th class="has-text-centered" v-for="bui in BUI">
                                    {{ WORDS[bui][sharedState.lang] }}
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="buttons is-centered">
                        <button class="button" @click="checkAll()">
                            {{ WORDS['all'][sharedState.lang] }}
                        </button>
                        <button class="button" @click="checkAny([...Array(20).keys()])">
                            {{ WORDS['normal all'][sharedState.lang] }}
                        </button>
                        <button class="button" @click="checkAny([...Array(20).keys()].map(i => i + 20))">
                            {{ WORDS['modified all'][sharedState.lang] }}
                        </button>
                    </div>
                    <div>
                        <label class="label">{{ WORDS['rank'][sharedState.lang] }}
                            <input type="range" v-model.number.lazy="rank" :min="rankMin" :max="rankMax"
                                class="slider">
                            <span v-show="rank === rankMin">1-</span>{{ rank }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="column is-narrow" style="width: 500px;">
                <div class="box content field" id="filter">
                    <h2 class="subtitle">{{ WORDS['filter'][sharedState.lang] }}</h2>
                    <div class="columns is-mobile">
                        <div class="column is-narrow" style="width: 120px;">
                            <label v-for="(para, index) in PARA" class="label">
                                {{ WORDS[para][sharedState.lang] }}
                                <input type="number" min="0" max="255"
                                    v-model.number.lazy="atai[index]" class="input">
                            </label>
                        </div>
                        <div class="column">
                            <label class="label">
                                {{ WORDS['reset'][sharedState.lang] }}<br>
                                <button @click="clearAll()" class="button is-warning">
                                    {{ WORDS['reset'][sharedState.lang] }}
                                </button>
                            </label>
                            <label class="label">
                                {{ WORDS['preset'][sharedState.lang] }}
                                <div v-for="(data, item) in DEKIAI" style="font-weight:400">
                                    <span v-for="(set, index) in data">
                                        <a @click="setTemplate(item, index)" class="button is-text is-paddingless">
                                            <span v-if="index">{{ WORDS[set.name][sharedState.lang] }}</span>
                                            <span v-else>{{ WORDS[item][sharedState.lang] }}</span>
                                            <span v-show="index !== data.length - 1">/</span>
                                        </a>
                                    </span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label class="label">
                            {{ WORDS['memo'][sharedState.lang] }}
                            <textarea rows="3" class="textarea" v-model.lazy="memo"
                                :placeholder="WORDS['default memo'][sharedState.lang]"></textarea>
                        </label>
                        <label class="label">
                            {{ WORDS['save'][sharedState.lang] }}/{{ WORDS['load'][sharedState.lang] }}
                            <div class="columns is-mobile">
                                <div class="column is-narrow">
                                    <div class="buttons has-addons">
                                        <button class="button is-small"
                                            :class="{ 'is-selected is-info': saveFlag }"
                                            :style="{ width: saveFlag ? '60px' : '20px' }"
                                            @click="toggleSaveFlag()">
                                            {{ saveFlag ? WORDS['save'][sharedState.lang] : '' }}
                                        </button>
                                        <button class="button is-small"
                                            :class="{ 'is-selected is-info': !saveFlag }"
                                            :style="{ width: !saveFlag ? '60px' : '20px' }"
                                            @click="toggleSaveFlag()">
                                            {{ saveFlag ? '' : WORDS['load'][sharedState.lang] }}
                                        </button>

                                    </div>
                                </div>
                                <div class="column">
                                    <div class="buttons has-addons">
                                        <button v-for="index in maxSlot" class="button is-small"
                                            :class="{ 'is-info': slotData[index] }"
                                            @click="toggleSlot(index)">
                                            {{ index }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="box content" id="result" style="width: 650px;">
            <h2 class="subtitle">{{ WORDS['result list'][sharedState.lang] }}</h2>
            <p v-if="ships.length" id="clipboard">
                {{ ships.length }} {{ WORDS['found'][sharedState.lang] }}
                <a v-show="copyFlag && !(!forceShowFlag && ships.length > maxShips)" @click="copyShips()">
                    {{ WORDS['copy chedked submersibles'][sharedState.lang] }}
                </a>
                <a v-show="forceShowFlag && ships.length > maxShips" @click="forceShow()">
                    {{ WORDS['limit results'][sharedState.lang] }}
                </a>
            </p>
            <p v-else>
                {{ WORDS['no results'][sharedState.lang] }}
            </p>
            <p v-if="!forceShowFlag && ships.length > maxShips">
                {{ WORDS['too many results'][sharedState.lang] }}
                <a @click="forceShow()">{{ WORDS['show all results'][sharedState.lang] }}</a>
            </p>
            <table v-else v-show="ships.length" class="table is-narrow is-hoverable">
                <thead>
                    <tr>
                        <th></th>
                        <th v-for="(bui, index) in BUI" class="has-text-centered">
                            <a @click="sortTable(index)">{{ WORDS[bui][sharedState.lang] }}</a>
                        </th>
                        <th v-for="(para, index) in PARA_S" class="has-text-centered">
                            <a @click="sortTable(index + BUI.length)">{{ WORDS[para][sharedState.lang] }}</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="ship in ships" @click="markShip(ship.id)">
                        <td>
                            <input type="checkbox" v-model="markedShips" :value="ship.id">
                            <label class="checkbox"></label>
                        </td>
                        <td class="has-text-centered">
                            {{ WORDS[KYU_S[ship.body]][sharedState.lang] }}
                        </td>
                        <td class="has-text-centered">
                            {{ WORDS[KYU_S[ship.tail]][sharedState.lang] }}
                        </td>
                        <td class="has-text-centered">
                            {{ WORDS[KYU_S[ship.head]][sharedState.lang] }}
                        </td>
                        <td class="has-text-centered">
                            {{ WORDS[KYU_S[ship.bridge]][sharedState.lang] }}
                        </td>
                        <td v-for="param in ship.para" class="has-text-right">
                            {{ param }}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th v-for="(bui, index) in BUI" class="has-text-centered">
                            <a @click="sortTable(index)">{{ WORDS[bui][sharedState.lang] }}</a>
                        </th>
                        <th v-for="(para, index) in PARA_S" class="has-text-centered">
                            <a @click="sortTable(index + BUI.length)">{{ WORDS[para][sharedState.lang] }}</a>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>

    <footer class="footer">
        <address v-once class="content has-text-centered" id="address">
            <p>
                <strong>{{ CONFIG.name }}</strong>
                Ver.{{ CONFIG.ver }}
                by <a :href="CONFIG.url">{{ CONFIG.auther }}</a>
            </p>
            <p>
                I want to translate this tool to français and Deutsch.<br>
                Please contact me if you can help. :)
            </p>
        </address>
    </footer>

    <script src="words.js"></script>
    <script src="common.js"></script>
    <script src="data.js"></script>
    <script src="result.js"></script>
    <script src="panel.js"></script>
    <script src="filter.js"></script>

</body>

</html>