/* Blumaとエオルゼアデータベースのツールチップの競合に対処する */
*, ::after, ::before {
  box-sizing: content-box;  
}
.button {
  padding-top: calc(0.1em - 1px);
  padding-bottom: calc(0.1em - 1px);
}

.checked {
  text-align: right;
  display: block;
  float: right;
  width: 10px;
  height: 15px;
  border-right: 3px solid #53b300;
  border-bottom: 3px solid #53b300;
  transform: rotate(45deg);
}

input[type=checkbox] {
  display: none;
}

.checkbox {
  padding: 3px 12px;
}

.checkbox:before {
  content: '';
  display: block;
  transition: opacity 0.2s;
  width: 10px;
  height: 15px;
  border-right: 3px solid #53b300;
  border-bottom: 3px solid #53b300;
  transform: rotate(45deg);
  opacity: 0;
}

input[type=checkbox]:checked+.checkbox:before {
  opacity: 1;
}

body {
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@media screen and (max-width: 480px) {
  header, footer {
    width: 768px;
  }
}
@keyframes fadeIn {
  0% {
      opacity: 0
  }
  100% {
      opacity: 1
  }
}
@-webkit-keyframes fadeIn {
  0% {
      opacity: 0
  }
  100% {
      opacity: 1
  }
}
